body{
    /* font-variant: small-caps;  */
    /* font-family: 'Tangerine', serif; */
    padding-left: 20px;
    font-family: 'Satisfy', cursive;
    
}


.dot {
    height: 25px;
    width: 25px;
    /* background-image: linear-gradient(to right, rgba(202, 193, 193, 0), rgb(58, 40, 40)); */
    background-image: linear-gradient(to right, #9e9d89, #b67162);
    border-radius: 40%;
    display: inline-block;
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
.container {
    /* background-image: linear-gradient(to right, rgba(202, 193, 193, 0), rgb(58, 40, 40));   */
    background-image: linear-gradient(to right, #9e9d89, #b67162);   
    
}

h4, p{
    font-size: 150%;
}
i {
    color: black;

}

.icon{
    /* display: block; */
    width: auto;
    height: auto;
    background-color: rgba(46, 45, 40, 0.884);
    overflow: hidden;
    font-size: 20px;
    
    
}
nav:hover {
    background-color: #8f8f8f; 
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: auto;
    align-items: center;

}
  
img:hover {
    box-shadow: 0 0 2px 1px#383535;
  }

.icon ul,li,a{
    text-decoration: wavy;
    display: inline-block;
    color: #ffff;
    padding:0px 30px ;   
}
.cls{
    text-decoration: wavy;
    display: inline-block;
    color: #ffff;
    padding:0px 30px ;   
}

.footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#8f8f8f;
    color: white;
    text-align: center;
 }

