.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-variant: small-caps;
    
}
.container {
    background-color: #cccccc;  
    font-variant: small-caps; 
}

h4, p{
    font-size: 150%;
}


nav{
    display: block;
    width: auto;
    height: auto;
    background-color: rgba(46, 45, 40, 0.884);
    overflow: hidden;
    font-variant: small-caps;
    
}
nav:hover {
    background-color: #8f8f8f; 
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: auto;
    align-items: center;

}
  
img:hover {
    box-shadow: 0 0 2px 1px#383535;
  }

ul,li,a{
    text-decoration: wavy;
    display: inline-block;
    color: #ffff;
    padding:0px 30px ;   
}

.footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#8f8f8f;
    color: white;
    text-align: center;
 }

